// custom css
.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
    padding-bottom: 14px;
}
.error-alert{
	color: red;
	font-weight: bold;
	font-size: 10px;
}
.star{
	color: red;
}
.login-again{
	color: #000;
	background: #fff;
	font-weight: bold;
	padding: 4px;
	border-radius: 4px;
}
.email-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
a.view-email{
	color: #30ce26;
}
a.view-email:hover {
    color: #2c7714;
}
.delete-btn{
	color:red;
}
.font-weight-light{
	font-size: 14px;
}
.timeago{
	text-align: right;
}
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
	background-color: #fff;
	padding: 10px;
	padding-left: 10rem;
	padding-right: 10rem;
    font-size: 84px;
    color: #000;
}
// .links{
// 	color: #000;
// }

.links > a {
    color: #000;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.links > a:hover {
    color: #000;
    text-decoration: underline;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.content-welcome-page{
	background: url('images/background-image.jpeg');
	background-color: #eee;
	opacity: .8;
	background-size: 100%;
	width: 100%;
	height: 700px;
}
.first-title{
	font-size: 65px;
	color: #333;
}
.booking-details>p{
    font-size: 1.5em
}
.booking-details>p>.booking-shs{
    font-size: 12px;
}
